name: Create Release Build

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      JAVA_VERSION: '17'
      CREDENTIALS_DIR: 'credentials'
      AAB_FILE: 'app/build/outputs/bundle/playRelease/app-play-release.aab'
      APK_FILE: 'app/build/outputs/apk/foss/release/app-foss-release.apk'
      MAPPING_FILE: 'app/build/outputs/mapping/playRelease/mapping.txt'
      SYMBOLS_FILE: 'app/build/intermediates/merged_native_libs/playRelease/mergePlayReleaseNativeLibs/out/lib/archive.zip'

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ env.JAVA_VERSION }}
        distribution: 'temurin'
        cache: 'gradle'
    - name: Run Detekt
      run: ./gradlew detekt
    - name: Run Lint
      run: ./gradlew lintRelease
    - name: Run unit tests
      run: ./gradlew testPlayDebugUnitTest
      
    - name: Build App Bundle and APK
      run: |
        mkdir "$CREDENTIALS_DIR"
        echo "$RELEASE_KEYSTORE_BASE64" | base64 -d > "$CREDENTIALS_DIR/keystore.jks"
        export RELEASE_KEYSTORE_PROPERTIES="$(printf 'KEY_ALIAS=%s\nKEY_PASSWORD=%s\nSTORE_PASSWORD=%s\n' \
          "$RELEASE_KEY_ALIAS" \
          "$RELEASE_KEY_PASSWORD" \
          "$RELEASE_STORE_PASSWORD")"
        ./gradlew bundlePlayRelease assembleFossRelease
      env:
        RELEASE_KEYSTORE_BASE64: ${{ secrets.RELEASE_KEYSTORE_BASE64 }}
        RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
        RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
        
    - name: Remove any credentials
      if: always()
      run: rm -rd "$CREDENTIALS_DIR"

    - name: Create native symbols zip file
      if: always()
      run: cd app/build/intermediates/merged_native_libs/playRelease/mergePlayReleaseNativeLibs/out/lib && zip -r archive.zip */

    - name: Extract version code and version name
      run: |
        echo "VERSION_NAME="$(scripts/get_version_name)"" >> $GITHUB_ENV
        echo "VERSION_CODE="$(scripts/get_version_code)"" >> $GITHUB_ENV

    - name: Create tag and release on GitHub if not already done
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ env.VERSION_CODE }}
        name: ${{ env.VERSION_NAME }}
        bodyFile: fastlane/metadata/android/en-US/changelogs/${{ env.VERSION_CODE }}.txt
        artifacts: |
          ${{ env.APK_FILE }}
          ${{ env.AAB_FILE }}
          ${{ env.MAPPING_FILE }}
          ${{ env.SYMBOLS_FILE }}
        makeLatest: true
        skipIfReleaseExists: true
        artifactErrorsFailBuild: true

    - name: Upload test reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test_reports
        path: |
          */build/reports/detekt/detekt.html
          */build/reports/lint-results-release.html
          */build/reports/tests/testPlayReleaseUnitTest/
